<link rel="stylesheet" type="text/css" href="../../../../static/js/validationform/validationEngine.jquery.css">
<link rel="stylesheet" type="text/css" href="../../../../static/css/styles.css"/>
<link rel="stylesheet" type="text/css" href="../../../../static/css/blocks_styl.css"/>


<div class="wrapper">
<section class="b16">
	<div class="b16-content wancho">
		<div class="b16-title">Servicios</div>
		<h2 class="b16-subtitle">Nuestros Servicios</h2>
	</div>
</section>

<section class="b17">
	<div class="b17-content wancho">
		<a routerLink="/nuestros-servicios/constitucion-empresa" class="b17-item less-hight">
			<figure class="b17-image">
				<img src="../../../../assets/images/nuestros-servicios/crearEMPRESA.svg">
			</figure>
			<div class="b17-info">
				<div class="b17-wrap">
					<div class="b17-title">Constitución de Empresas</div>
					<div class="b17-description">
						<p>Dale vida a tu sueño empresarial en solo 6 pasos</p>
					</div>
					<span class="b17-arrow icon-arrow-up-r"></span>
				</div>
			</div>
		</a>
		<a routerLink="/nuestros-servicios/trámites-legales" class="b17-item less-hight">
			<figure class="b17-image">
				<img src="../../../../assets/images/nuestros-servicios/tramitesLINEA.svg">
			</figure>
			<div class="b17-info">
				<div class="b17-wrap">
					<div class="b17-title">Gestión de Trámites Legales</div>
					<div class="b17-description">
						<p>Todos los aspectos legales tramitados de manera virtual</p>
					</div>
					<span class="b17-arrow icon-arrow-up-r"></span>
				</div>
			</div>
		</a>
		<a routerLink="/nuestros-servicios/servicio-de-facturación" class="b17-item">
			<figure class="b17-image">
				<img src="../../../../assets/images/nuestros-servicios/Facturación.svg">
			</figure>
			<div class="b17-info">
				<div class="b17-wrap">
					<div class="b17-title">Facturación</div>
					<div class="b17-description">
						<p>Simplifica facturación y ventas</p>
					</div>
					<span class="b17-arrow icon-arrow-up-r"></span>
				</div>
			</div>
		</a>
		<a routerLink="/nuestros-servicios/servicio-contable" class="b17-item">
			<figure class="b17-image">
				<img src="../../../../assets/images/nuestros-servicios/contabilidad.svg">
			</figure>
			<div class="b17-info">
				<div class="b17-wrap">
					<div class="b17-title">Servicio Contable</div>
					<div class="b17-description">
						<p>Optimiza y controla tus finanzas</p>
					</div>
					<span class="b17-arrow icon-arrow-up-r"></span>
				</div>
			</div>
		</a>
		<a routerLink="/nuestros-servicios/asesoría" class="b17-item">
			<figure class="b17-image">
				<img src="../../../../assets/images/nuestros-servicios/asesoria.svg">
			</figure>
			<div class="b17-info">
				<div class="b17-wrap">
					<div class="b17-title">Asesorías</div>
					<div class="b17-description">
						<p>Asesoría experta y guía confiable</p>
					</div>
					<span class="b17-arrow icon-arrow-up-r"></span>
				</div>
			</div>
		</a>

	</div>
</section>

<!-- <section class="b8 b8-radius">
	<figure class="b8-image" style="background-image: url('../assets/images/nuestros-servicios/b8-banner.png');"></figure>
	<div class="b8-block">
		<div class="b8-content wancho">
			<div class="b8-title">Asegura tu atención notarial</div>
			<div class="b8-subtitle">¡Agenda tu cita hoy!</div>
			<div class="b8-button">
				<a href="contacto.html" class="b8-btn-link">Reserva una cita <span class="b8-btn-icon icon-arrow-right"></span></a>
			</div>
		</div>
	</div>
</section> -->
</div>

<router-outlet>
<app-footer></app-footer>



    <!-- contenedor del menu responsive -->
    <div class="menu-sidebar" data-menu="left-in">
        <div class="menu-sidebar-cnt"></div>
    </div>

    <script src="../../../../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../../../../static/js/validationform/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="../../../../static/js/main.js" type="text/javascript"></script>
    <!-- JSADD START -->

<script type="text/javascript">
    $(function(){
    });
</script>
