
<div class="wrapper">
  <section class="b48">
    <div class="wancho">
        <h3 class="b48-title">Políticas de Cookies</h3>
        <div class="b48-description">
      <p>Los presentes Términos y Condiciones, regulan el uso de nuestro sitio web <a href="https://https://www.gestipyme.com.pe/">https://www.gestipyme.com.pe/</a>, propiedad de GESTIPYME EIRL, con RUC Nº 20612375586 y domicilio en Av. La Marina 1443, distrito de San Miguel, provincia y departamento de Lima, en adelante GESTIPYME. El usuario accediendo y utilizando el presente sitio web, se encuentra aceptando los términos y condiciones siguientes:</p>
      <h3><strong>ACEPTACIÓN Y RESPONSABILIDAD DEL USUARIO</strong></h3>
      <h4>Subtítulo 2</h4>
      <ul>
         <li>Tenemos una gama completa de modelos desde <strong>6 hasta 31 Ton de PBV</strong>, adicionalmente Tracto camiones, cuya configuración los hace el vehículo ideal para reparto, furgones, plataformas, volquetes, cisternas, grúas, compactadoras de residuos sólidos, mezcladoras de cemento, entre otras aplicaciones.</li>
         <li>Euro <a href="https://www.google.com/">Camiones VW</a> cuenta con Know How, experiencia y contactos nacionales e internacionales para la selección de los mejores proveedores existentes de carrocerías para distintas aplicaciones requeridas en el mercado. Así como una amplia red de concesionarios y talleres autorizados en las principales ciudades del país.</li>
      </ul>
      <table style="border-collapse: collapse; width: 100%; height: 216px;">
        <tbody>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px; text-align: center;"><strong>Tipo</strong></td>
            <td style="width: 21.9879%; height: 24px; text-align: center;"><strong>Permanencia</strong></td>
            <td style="width: 55.4217%; height: 24px;"><strong>Finalidad</strong></td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">2 años</td>
            <td style="width: 55.4217%; height: 24px;">Se usa para distingir a los usuarios.</td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">24 horas</td>
            <td style="width: 55.4217%; height: 24px;">Se usa para distingir a los usuarios.</td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">1 minuto</td>
            <td style="width: 55.4217%; height: 24px;">Se usa para limpiar el porcentaje de solicitudes. Si se ha implementado Google Analytics mediante Google Tag Manager, esta cookie se llamara Munay</td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">1 día</td>
            <td style="width: 55.4217%; height: 24px;">Utilizado por Facebook para ofrecer una serie de productos publicitarios, como ofertas en tiempo real de terceros anunciantes.</td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">1 mes</td>
            <td style="width: 55.4217%; height: 24px;">Estas cookies son de Facebook, sirven para mostrar el botón “Me gusta” y mostrar el número de seguidores.</td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">2 años</td>
            <td style="width: 55.4217%; height: 24px;">Cookies de Facebook que tienen por finalidad posibilitar el logueo en el sitio web a través de la cuenta de Facebook.</td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">1 año</td>
            <td style="width: 55.4217%; height: 24px;">Estrictamente necesaria. Necesario para el funcionamiento del botón “Like”.</td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 22.5903%; height: 24px;">Cookies de terceros</td>
            <td style="width: 21.9879%; height: 24px; text-align: center;">2 años</td>
            <td style="width: 55.4217%; height: 24px;">Cookies necesarios para el complemento social de Facebook.</td>
          </tr>
        </tbody>
      </table>
      <h3><strong>ACEPTACIÓN Y RESPONSABILIDAD DEL USUARIO</strong></h3>
      <h4>Subtítulo 2</h4>
      <ul>
         <li>Tenemos una gama completa de modelos desde <strong>6 hasta 31 Ton de PBV</strong>, adicionalmente Tracto camiones, cuya configuración los hace el vehículo ideal para reparto, furgones, plataformas, volquetes, cisternas, grúas, compactadoras de residuos sólidos, mezcladoras de cemento, entre otras aplicaciones.</li>
        <li>Euro <a href="https://www.google.com/">Camiones VW</a> cuenta con Know How, experiencia y contactos nacionales e internacionales para la selección de los mejores proveedores existentes de carrocerías para distintas aplicaciones requeridas en el mercado. Así como una amplia red de concesionarios y talleres autorizados en las principales ciudades del país.</li>
      </ul>
        </div>
    </div>
  </section>
  
  
    </div>
  
    <!-- contenedor del menu responsive -->
    <div class="menu-sidebar" data-menu="left-in">
        <div class="menu-sidebar-cnt"></div>
    </div>
  
    <script src="../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../static/js/validationform/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <!-- JSADD START -->
  
  
  
  <script type="text/javascript">
    $(function(){
    });
  </script>
  
  
<app-footer></app-footer>
