
<h1 class="plans">Conoce nuestros paquetes</h1>
<div class="container" id="serviceplans">
    
    <div class="package-container">

        <div class="package">
            <div class="package_white">
                <div class="inside_blue">
                    <div class="package-title"><span class="paquete">Paquete</span> BASE</div>
                    <div class="price">Desde S/ 99</div>
                    <div class="info">Facturación + Pago Link</div>                
                </div>
                <div class="features">
                    <p>
                        <span class="regular_text">El servicio incluye:</span>
                    </p>
                    <div class="service">
                        <mat-icon class="icon">check</mat-icon>
                        <span class="text_bold_services">Sistema de facturación</span>
                    </div>
                    <div class="service">
                        <mat-icon class="icon">check</mat-icon>
                        <span class="text_medium_services">Generación de<span class="text_bold_services">links de pago</span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="package_2 package">
            <div class="package_white">
                <div class="inside_blue">
                    <div class="package-title"><span class="paquete">Paquete</span> PLUS</div>
                    <div class="price price_2">Desde S/ 300</div>
                    <div class="info">Facturación + Pago Link + Servicio Contable</div>                
                </div>
                <div class="features">
                    <p>
                        <span class="regular_text">El servicio incluye:</span>
                    </p>
                    <div class="service">
                        <mat-icon class="icon">check</mat-icon>
                        <span class="text_bold_services">Sistema de facturación</span>
                    </div>
                    <div class="service">
                        <mat-icon class="icon">check</mat-icon>
                        <span class="text_medium_services">Generación de<span class="text_bold_services">links de pago</span></span>
                    </div>
                    <div class="service">
                        <mat-icon class="icon">check</mat-icon>
                        <span class="text_bold_services">Servicio Contable</span>
                </div>
            </div>
        </div>


    
    </div>
</div>