
<div class="container-benefits">
    <h2 class="title-benefits"><strong>Beneficios</strong><span class="ruc20">de tener RUC 20</span> </h2>
    <div class="box-container-benefits">
      <div class="box">
        <img src="../../../assets/images/benefits/Salvaguardar bienes.svg" alt="Imagen 1">
        <p>Podrás salvaguardar tus bienes personales ante problemas legales o financieros.</p>
      </div>
      <div class="box">
        <img src="../../../assets/images/benefits/Acceso a prestamos.svg" alt="Imagen 2">
        <p>Acceso a préstamos y cuentas bancarias comerciales disponibles.</p>
      </div>
      <div class="box">
        <img src="../../../assets/images/benefits/Licitaciones.svg" alt="Imagen 3">
        <p>Podrás participar en programas del estado y licitaciones.</p>
      </div>
      <div class="box">
        <img src="../../../assets/images/benefits/Rentabilidad de negocio.svg" alt="Imagen 4">
        <p>Incentivos fiscales para mejorar la rentabilidad de tu negocio.</p>
      </div>
    </div>
  </div>
  