.g-btn-bg
	display inline-block
	height 42px
	line-height 42px
	background-color c-2
	color c-3
	font-family t-0
	font-weight 400
	font-size 16px
	border none
	border-radius 20px
	padding 0 24px
	@media screen and (min-width 1025px)
		transition all .25s ease
		&:hover
			background-color c-10

	&.bg_blue
		background-color c-1
		@media screen and (min-width 1025px)
			&:hover
				background-color c-16

	&.bg_white
		background-color c-3
		color c-4
		@media screen and (min-width 1025px)
			&:hover
				background-color c-18

.g-btn-icon
	display inline-block
	vertical-align middle
	width 20px
	height 20px
	line-height 20px
	font-size 14px
	text-align center
	margin 0 0 0 8px

.g-btn-bd
	display inline-block
	height 40px
	line-height 40px
	color c-14
	font-family t-0
	font-weight 400
	font-size 16px
	border 1px solid c-14
	border-radius 20px
	padding 0 24px
	@media screen and (min-width 1025px)
		transition all .25s ease
		&:hover
			background-color c-12

	&.bd_white
		color c-3
		border-color c-3
		@media screen and (min-width 1025px)
			&:hover
				background-color c-20
				color c-21
				border-color c-20