.b10
	background-color c-3
	border-radius 30px 30px 0px 0px
	box-sizing border-box
	padding-top 90px
	margin-top -90px
	@media screen and (max-width 1024px)
		border-radius 15px 15px 0 0
	@media screen and (max-width 767px)
		border-radius 5px 5px 0 0

.b10-content
	max-width 1060px
	padding 70px 0 50px 0

.b10-item
	box-sizing border-box
	padding 0 10px

.b10-image
	max-width 192px
	width 100%
	margin 0 auto
	img
		img-res()