.b13
	overflow hidden
	background-color c-8
	padding 64px 0 100px 0

.b13-head
	max-width 636px
	width 100%
	text-align center
	margin 0 auto 50px auto
	@media screen and (max-width 767px)
		margin-bottom 30px
	
.b13-title
	display block
	line-height 32px
	color c-2
	font-family t-0
	font-weight 500
	font-size 24px
	margin 0 0 10px 0
	@media screen and (max-width 767px)
		line-height 1.1
		font-size 20px

.b13-subtitle
	display block
	line-height 54px
	color c-3
	font-family t-0
	font-weight 600
	font-size 46px
	margin 0
	@media screen and (max-width 767px)
		line-height 1.2
		font-size 30px

.b13-block
	display flex
	flex-direction row
	flex-wrap wrap
	margin 0 -42px
	@media screen and (max-width 1024px)
		margin 0 -30px
	@media screen and (max-width 767px)
		margin 0

.b13-item
	width calc(100% / 3 - 84px)
	box-sizing border-box
	padding 10px 9px 10px 9px
	margin 40px 42px 0 42px
	@media screen and (max-width 1024px)
		width calc(100% / 3 - 60px)
		margin 40px 30px 0 30px
	@media screen and (max-width 960px)
		width calc(100% / 2 - 60px)
	@media screen and (max-width 767px)
		width 100%
		padding 0
		margin 50px 0 0 0

.b13-icon
	width 26px
	margin 0 0 20px 0
	img
		img-res()

.b13-textup
	display block
	line-height 28px
	color c-3
	font-family t-0
	font-weight 600
	font-size 20px
	margin 0 0 20px 0

.b13-textdown
	display block
	line-height 21px
	color c-3
	font-family t-0
	font-weight 300
	font-size 14px
	margin 0
	p
		margin 0