.b20
	background-color c-8
	padding 60px 0 60px 0

.b20-title
	display block
	line-height 24px
	color c-3
	font-family t-0
	font-weight 500
	font-size 16px
	text-align center
	margin 0 0 15px 0

.b20-subtitle
	display block
	line-height 76px
	color c-3
	font-family t-0
	font-weight 500
	font-size 68px
	text-align center
	margin 0
	@media screen and (max-width 767px)
		line-height 1.1
		font-size 30px

.b20-image
	width 100%
	margin 35px 0 0 0
	img
		border-radius 20px
		img-res()