.b25
	background-color c-3
	border-radius 20px 20px 0 0
	padding 100px 0 140px 0
	margin-top -20px
	@media screen and (max-width 767px)
		border-radius 10px 10px 0 0
		padding 70px 0

.b25-refresh
	display flex
	flex-direction column
	align-items flex-end
	margin-bottom 26px

.b25-refresh-btn
	display block
	line-height 21px
	color c-1
	font-family t-0
	font-weight 600
	font-size 16px
	text-decoration-line underline
	margin 0

.b25-head
	display flex
	flex-direction row
	flex-wrap wrap
	margin 0 -13px 54px -13px
	@media screen and (max-width 767px)
		margin-left 0
		margin-right 0
		
.b25-head-item
	width calc(100% / 4 - 26px)
	margin 0 13px
	@media screen and (max-width 1024px)
		width calc(100% / 3 - 26px)
	@media screen and (max-width 960px)
		width calc(100% / 2 - 26px)
	@media screen and (max-width 767px)
		width 100%
		margin 0

.b25-title
	display block
	line-height 24px
	color c-1
	font-family t-0
	font-weight 500
	font-size 16px
	text-transform uppercase
	margin 0 0 35px 0

.b25-container
	max-width 893.5px
	width 100%
	margin 0
	@media screen and (max-width 1024px)
		max-width none

.b25-itemblock
	display flex
	flex-direction row
	flex-wrap wrap
	margin 0 -13px 35px -13px
	@media screen and (max-width 767px)
		margin-left 0
		margin-right 0

.b25-itembox
	width calc(100% / 3 - 26px)
	margin 0 13px
	@media screen and (max-width 960px)
		width calc(100% / 2 - 26px)
	@media screen and (max-width 767px)
		width 100%
		margin 0

.b25-add
	padding-top 15px

.b25-comments
	margin-top 20px

.b25-subtitle
	display block
	line-height 21px
	color c-1
	font-family t-0
	font-weight 600
	font-size 16px
	margin 0 0 26px 0

.b25-description
	display block
	line-height 20px
	color c-25
	font-family t-0
	font-weight 400
	font-size 14px
	margin 0 0 26px 0
	p
		margin 0

.b25-file
	margin-top 30px