.b47
	padding-top 116px
	padding-bottom 210px
	box-sizing border-box
	@media screen and (max-width 745px)
		padding-top 40px
		padding-bottom 50px

	.g5-required
		color #4A4A4A
		font-weight 500
		font-size 12px
		margin-top 0
		margin-bottom 20px

.b47-title-libro
	line-height 46px
	color c-1
	font-family t-0
	font-weight 600
	font-size 40px
	text-align center
	text-transform uppercase
	margin-bottom 48px
	@media screen and (max-width 745px)
		font-size 30px
		line-height 36px
.b47-description-libro
	max-width 792px
	font-weight 300
	font-size 16px
	margin 0 auto
	margin-bottom 69px
	line-height 24px
	color #333
	text-align justify
	@media screen and (max-width 745px)
		margin-bottom 30px
.b47-libro-box
	padding-bottom 19px
	margin-top 28px
	border-bottom 1px solid #E3DCFE
	&.observacion
		margin-bottom 30px
	&:last-child
		border none
.b47-title-box
	font-size 16px
	line-height 21px
	font-weight 600
	color c-1
	margin-bottom 17px
.b47-libro-down
	max-width 792px
	margin 0 auto
.b47-subtitle-libro
	font-size 14px
	color #333333
	margin-bottom 18px
	line-height 20px
		
.b47-nota
	line-height 21px
	font-size 12px
	color #4F4F4F
	p
		margin 0
.b47-reclamo-menor
	display flex
	justify-content space-between
	font-family t-0
	font-size 12px
	color c-17
	p
		width 48.5%
		margin 0
	@media screen and (max-width 640px)
		display block
		p
			width 100%
			margin-bottom 8px
			
.b47-box-reclamo
	font-size 12px
	color c-17
	font-family t-0
	line-height 16px
	margin-bottom 14px
	p
		margin 0
.b47-libro-observacion
	color #676767
	font-size 12px
	line-height 20px
	p
		margin 0
		margin-bottom 8px
.b47-libro-formulacion
	font-weight 400
	font-size 12px
	color #828282
	line-height 20px
	margin-bottom 25px
	p
		margin 0
		margin-bottom 20px

.b47-list-radios
	display flex
	flex-flow row wrap
	margin-bottom 30px
	

.b47-date
	display flex
	justify-content space-between
	@media screen and (max-width 640px)
		flex-flow row wrap
	

.b47-date-item
	width 48.5%
	display flex
	justify-content space-between
	align-items center
	margin-bottom 6px
	@media screen and (max-width 640px)
		width 100%
		margin-bottom 20px
		&:last-child
			margin-bottom 0
	&.codigo
		justify-content flex-end
		flex-direction column
		text-align left
		span
			margin 0
			font-size 11px
		p
			font-size 18px
			line-height 20px
			color c-0
			font-weight 500
	&.date
		background-color #E5E5E5
		height 60px
		padding 20px
		box-sizing border-box
		border-radius 12px
		span
			margin 0
			font-size 14px
			line-height 20px
			color c-0
			input
				border none
				background-color #E5E5E5
				text-align end
				cursor unset
		p
			font-size 16px
			line-height 21px
			font-weight 600
			color c-0
	p
		margin 0

.b47-btn
	text-align center
	margin-top 43px
	button
		min-width 210px
		text-transform uppercase