.b48
	padding-top 102px
	padding-bottom 120px
	@media screen and (max-width 745px)
		padding-top 70px
		padding-bottom 80px

.b48-title
	display block
	line-height 76px
	color c-1
	font-family t-0
	font-weight 500
	font-size 68px
	text-align center
	margin 0
	margin-bottom 36px
	@media screen and (max-width 745px)
		line-height 1.1
		font-size 30px

.b48-description
	font-size 16px
	line-height 23px
	a
		color #041E48
	p
		max-width 792px
		margin 0 auto
		line-height 26px
		font-family t-0
		font-weight 300
		text-align justify
		margin-bottom 33px
	strong
		color c-1
		font-family t-0
		font-weight 400
		
	h1,h2,h3,h4,h5,h6
		max-width 792px
		font-weight 300
		margin 0 auto
		margin-bottom 21px
		
	h1
		font-size 30px
		line-height 36px
		
	h2
		font-size 24px
		line-height 32px
		
	h3
		color c-0
		font-size 18px
		line-height 26px
		text-transform uppercase
		
	h4
		font-size 16px
		line-height 24px
		font-family t-0
		color c-4
		
	h5
		font-size 16px
		line-height 26px
		
	h6
		font-size 14px
		line-height 24px
	ul
		padding-left 10px
		max-width 792px
		margin-bottom 15px
		li
			padding-left 12px
			position relative
			color c-14
			font-family t-0
			font-weight 300
			list-style none
			text-align justify
			&:last-child
				padding-bottom 0
			&:after
				content ""
				width 4px
				height 4px
				background-color c-14
				border-radius 50%
				position absolute
				left 0
				top 10px
				bottom 0
		strong
			color c-0
			font-weight 400
			
	table
		width 100%
		max-width 921px
		margin 0 auto
		border 1px solid #181818
		box-sizing border-box	
		margin-top 48px
		margin-bottom 36px
		font-weight 400
		strong
			color #181818
			font-weight 300
		tr
			border 1px solid #181818
			th
				font-family t-0
				border-right 1px solid #181818
				text-align left
				padding-left 27px
				padding-right 27px
				height 80px
				box-sizing border-box
			td
				border-right 1px solid #181818
				padding 27px 20px
				box-sizing border-box
				&:first-child
					max-width 300px
	@media screen and (max-width 745px)
		font-size 14px
		line-height 20px
		table
			margin-top 40px
			margin-bottom 30px
			tr
				th
					padding-left 10px
					padding-right 10px
			tr
				td
					padding-left 10px
					padding-right 10px
					line-height 16px
					font-size 12px