<section class="container-fluid p-0 m-0">
    <div class="container-logo ">
        <img class="container-logo__img costurera" src="../../../../../assets/images/login/costurera.svg" alt="">
        <img class="container-logo__img caja" src="../../../../../assets/images/login/cajas.svg" alt="">
        <img class="container-logo__img azul" src="../../../../../assets/images/login/mujer azul.svg" alt="">

        <div class="new-register">
            <p class="new">Aún no te registras?</p>
            <a class="button-new-register" href="registrarse">Registrarse</a>
        </div>
    </div>
    <div class="container-password-recovery">
        <div class="password-recovery-box">
            <h3>Recupera tu contraseña</h3>
            <h5>Estamos aquí para ayudarte a recuperar el acceso a tu cuenta.</h5>
            <form class="container-form">
                <div class='password-recovery'>
                    <div class="login-mail">
                        <label for="mail">Email</label>
                        <input class=" input-button login-email__input login-email__input" type="text" id="email"
                        name="email" placeholder="micorreo@gmail.com">
                    </div>
                </div>
                <p class="remember-password">Recordaste tu contraseña? <a href="iniciar-sesión"> Iniciar sesión</a></p>

                <button class="button-password-recovery" type="submit" placeholder="m123456789">
                    Recuperar contraseña
                </button>

            </form>
        </div>
    </div>
    <div class="background-box"></div>
</section>