<a target="_blank" href="https://wa.me/51918795733?text=%C2%A1Hola!,%20%C2%A1deseo%20informaci%C3%B3n%20para%20la%20gesti%C3%B3n%20de%20mi%20negocio">

  <div class="whatsapp-button">
    <p>¿Tienes alguna duda? <strong class="underline">Escríbenos</strong></p>
    <a href="https://wa.me/51918795733?text=%C2%A1Hola!,%20%C2%A1deseo%20informaci%C3%B3n%20para%20la%20gesti%C3%B3n%20de%20mi%20negocio" target="_blank">
      <img src="../../../assets/images/icons/whatsapp.svg" alt="WhatsApp">
    </a>
  </div>

</a>

