<div class="cnt-wrapper">
  <div class="wrapper">
      <section class="b20">
          <div class="b20-content wancho">
              <div class="b20-title"><a href="listado-servicios-2.html">Nuestros Servicios</a></div>
              <h2 class="b20-subtitle">Constitución de Empresas</h2>
              <figure class="b20-image">
                  <img src="../../../../../assets/images/nuestros-servicios/crearEMPRESA.svg">
              </figure>
          </div>
      </section>

      <section class="b21">
          <div class="b21-content wancho">
              <div class="b21-left">
                  <div class="b21-title">Este servicio facilita la creación de nuevas empresas gestionando todos los procesos legales y burocráticos necesarios para la formalización y registro. Se ofrecen orientación y asistencia en cada paso, desde la redacción de documentos hasta la inscripción en los registros correspondientes.</div>
              </div>
              <div class="b21-right">
                  <div class="b21-subtitle">Requisitos:</div>
                  <div class="b21-description">
                    <ul>
                      <li>Tipo de empresa que desea formar</li>
                      <li>Documento de identidad de los socios o intervinientes</li>
                      <li>3 Nombres tentativos para la empresa (abreviación opcional)</li>
                      <li>Descripción clara del objeto social de la empresa</li>
                      <li>Tipo de capital (aporte de cada socio)</li>
                  </ul>
                  </div>
                  <div class="b21-subtitle">El servicio incluye:</div>
                  <div class="b21-description">
                    <ul>
                      <li class="last-group">Reserva de nombre</li>
                      <li class="last-group">Gastos registrales</li>
                      <li class="last-group">Gastos notariales</li>
                      <li class="last-group">Elaboración de solicitud de constitución de empresa</li>
                      <li class="last-group">Elaboración de escritura pública</li>
                      <li class="last-group">Gestión de número RUC con credenciales de acceso</li>
                  </ul>
                  </div>
                  <div class="b21-note">
                      <p>IMPORTANTE: *Las tomas de firma y lo capitales mayores a 10 000 soles tienen costos adicionales</p>
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>

<!-- Contenedor del menú responsive -->
<div class="menu-sidebar" data-menu="left-in">
  <div class="menu-sidebar-cnt"></div>
</div>
<div class="divider">

</div>

<app-businessbanner></app-businessbanner>
<app-footer></app-footer>

<script src="../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../static/js/validationform/jquery.validationEngine.js" type="text/javascript"></script>
<script src="../static/js/main.js" type="text/javascript"></script>
<!-- JSADD START -->

<script type="text/javascript">
  $(function(){
      // FOOTER RESPONSIVE - ACORDEÓN
      if($(window).innerWidth() < 1025){
          $('.footerOpenToggle').on('click', function(event){
              if ($(this).hasClass('active')) {
                  $(this).removeClass('active').parent().find('.footer_toggle_contain').stop().slideUp();
              } else {
                  $('.footer_title').removeClass('active');
                  $('.footer_toggle_contain').stop().slideUp();
                  $(this).addClass('active').parent().find('.footer_toggle_contain').stop().slideToggle();
              }
          });
      }
  });
</script>

<script type="text/javascript">
  $(function(){
      // Otro código JavaScript
  });
</script>
