<link rel="stylesheet" type="text/css" href="../../../../static/js/validationform/validationEngine.jquery.css"/>
<link rel="stylesheet" type="text/css" href="../../../../static/css/styles.css"/>
<link rel="stylesheet" type="text/css" href="../../../../static/css/blocks_styl.css">

        <div class="wrapper">


<section class="b9">
	<div class="b9-content wancho">
    <figure class="b9-image" style="background-image: url('../../../../static/img/b9-banner.png');"></figure>
		<h1 class="b9-title">Seguridad jurídica, innovación y calidad desde 1999</h1>
	</div>
</section>

<section class="b10">
	<div class="b10-content wancho">
		<div class="b10-slider">
			<ul class="b10-wrap b10pitcherSlick">

				<li class="b10-item">
					<figure class="b10-image">
						<img src="../../../../assets/images/somos/b10-logo-1.png">
					</figure>
				</li>

				<li class="b10-item">
					<figure class="b10-image">
						<img src="../../../../assets/images/somos/b10-logo-2.png">
					</figure>
				</li>

				<li class="b10-item">
					<figure class="b10-image">
						<img src="../../../../assets/images/somos/b10-logo-3.png">
					</figure>
				</li>

				<li class="b10-item">
					<figure class="b10-image">
						<img src="../../../../assets/images/somos/b10-logo-4.png">
					</figure>
				</li>

				<li class="b10-item">
					<figure class="b10-image">
						<img src="../../../../assets/images/somos/b10-logo-5.png">
					</figure>
				</li>

				<li class="b10-item">
					<figure class="b10-image">
						<img src="../../../../assets/images/somos/b10-logo-6.png">
					</figure>
				</li>

			</ul>
		</div>
	</div>
</section>

<section class="b11">
	<div class="b11-content wancho">
		<div class="b11-head">
			<div class="b11-title">Nuestra Historia</div>
			<h2 class="b11-subtitle">El pasado que moldea nuestro presente</h2>
		</div>
		<div class="b11-block">
			<div class="b11-item b11-animation">
				<div class="b11-left">
					<figure class="b11-image">
						<img src="../../../../assets/images/somos/b11-item.jpg">
					</figure>
				</div>
				<div class="b11-right">
					<div class="b11-boxleft">
						<div class="b11-year">1999</div>
					</div>
					<div class="b11-boxright">
						<div class="b11-textup">Fundación en 1999</div>
						<div class="b11-textdown">
							<p>Desde 1999, fundamos Notaria Ramos, arraigados en el compromiso notarial, brindando confianza y servicios legales sólidos</p>
						</div>
					</div>
				</div>
			</div>
			<div class="b11-item b11-animation">
				<div class="b11-left">
					<figure class="b11-image">
						<img src="../../../../assets/images/somos/b11-item.jpg">
					</figure>
				</div>
				<div class="b11-right">
					<div class="b11-boxleft">
						<div class="b11-year">2002</div>
					</div>
					<div class="b11-boxright">
						<div class="b11-textup">Innovación legal eficiente</div>
						<div class="b11-textdown">
							<p>Innovamos constantemente, priorizando la eficiencia y el respeto a las normativas legales, adaptándonos a las necesidades cambiantes</p>
						</div>
					</div>
				</div>
			</div>
			<div class="b11-item b11-animation">
				<div class="b11-left">
					<figure class="b11-image">
						<img src="../../../../assets/images/somos/b11-item.jpg">
					</figure>
				</div>
				<div class="b11-right">
					<div class="b11-boxleft">
						<div class="b11-year">2007</div>
					</div>
					<div class="b11-boxright">
						<div class="b11-textup">Adaptación proactiva</div>
						<div class="b11-textdown">
							<p>A lo largo del tiempo, evolucionamos continuamente, manteniendo un enfoque proactivo en nuestra adaptación a un entorno legal dinámico</p>
						</div>
					</div>
				</div>
			</div>
			<div class="b11-item b11-animation">
				<div class="b11-left">
					<figure class="b11-image">
						<img src="../../../../assets/images/somos/b11-item.jpg">
					</figure>
				</div>
				<div class="b11-right">
					<div class="b11-boxleft">
						<div class="b11-year">2012</div>
					</div>
					<div class="b11-boxright">
						<div class="b11-textup">Legado Notarial excepcional</div>
						<div class="b11-textdown">
							<p>Nuestro legado se basa en una trayectoria de confianza, seguridad y un servicio excepcional, manteniendo nuestros valores inquebrantables</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="b12">
	<div class="b12-content wancho">
		<div class="b12-head">
			<h2 class="b12-title-up">Ética, Confianza y Seguridad Jurídica: Nuestros pilares en la visión institucional</h2>
			<div class="b12-controls">
				<span class="b12-arrow b12-prev icon-arrow-left"></span>
				<span class="b12-arrow b12-next icon-arrow-right"></span>
			</div>
		</div>
		<div class="b12-slider">
			<ul class="b12-wrap b12pitcherSlick">
				<li class="b12-item">
					<div class="b12-card">
						<div class="b12-left">
							<figure class="b12-icon">
								<img src="../../../../assets/images/somos/b12-icon-1.png">
							</figure>
							<div class="b12-title">Nuestra Esencia</div>
							<div class="b12-subtitle">Excelencia orientada a la satisfacción del cliente</div>
							<div class="b12-description">
								<p>Nuestro objetivo es lograr siempre la satisfacción de nuestros usuarios para lo cual nos apoyamos en soluciones integrales que permitan cubrir las necesidades actuales siempre bajo el marco legal y principios éticos que nos caracterizan.</p>
							</div>
						</div>
						<div class="b12-right">
							<figure class="b12-image">
								<img src="../../../../assets/images/somos/b12-item.jpg">
							</figure>
						</div>
					</div>
				</li>
				<li class="b12-item">
					<div class="b12-card">
						<div class="b12-left">
							<figure class="b12-icon">
								<img src="../../../../assets/images/somos/b12-icon-2.png">
							</figure>
							<div class="b12-title">Visión</div>
							<div class="b12-subtitle">Nuestro camino hacia la distinción</div>
							<div class="b12-description">
								<p>Buscamos la plena satisfacción de usuarios con soluciones integrales, respetando principios éticos y legales. Nos destacamos por superar expectativas con agilidad, guiados por la transparencia. Como socios estratégicos, ofrecemos servicios de calidad.</p>
							</div>
						</div>
						<div class="b12-right">
							<figure class="b12-image">
								<img src="../../../../assets/images/somos/b12-item.jpg">
							</figure>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="b13">
	<div class="b13-content wancho">
		<div class="b13-head">
			<div class="b13-title">Reconocimientos</div>
			<h2 class="b13-subtitle">Distinciones que avalan nuestro esfuerzo</h2>
		</div>
		<div class="b13-block">
			<div class="b13-item">
				<figure class="b13-icon">
					<img src="../../../../assets/images/somos/b13-icon.png">
				</figure>
				<div class="b13-textup">Certificación ISO 9001</div>
				<div class="b13-textdown">
					<p>Demuestra la implementación de procesos eficientes, la mejora continua y el enfoque en la satisfacción del cliente, asegurando un servicio notarial de alta calidad</p>
				</div>
			</div>
			<div class="b13-item">
				<figure class="b13-icon">
					<img src="../../../../assets/images/somos/b13-icon.png">
				</figure>
				<div class="b13-textup">Premio Excelencia</div>
				<div class="b13-textdown">
					<p>Reconocimiento a la distinción en sus servicios, destacando la excelencia, eficacia y la satisfacción del cliente como pilares fundamentales en su práctica notarial.</p>
				</div>
			</div>
			<div class="b13-item">
				<figure class="b13-icon">
					<img src="../../../../assets/images/somos/b13-icon.png">
				</figure>
				<div class="b13-textup">Reconocimiento Ético:</div>
				<div class="b13-textdown">
					<p>Resalta las prácticas responsables y éticas evidenciando nuestro compromiso con la integridad, la transparencia y el cumplimiento de altos estándares éticos</p>
				</div>
			</div>
			<div class="b13-item">
				<figure class="b13-icon">
					<img src="../../../../assets/images/somos/b13-icon.png">
				</figure>
				<div class="b13-textup">Mencion en America TV</div>
				<div class="b13-textdown">
					<p>Esta mención en los medios reconoce logros y contribuciones destacadas de la notaría, brindando visibilidad a su labor sobresaliente y aportando valor a la comunidad.</p>
				</div>
			</div>
			<div class="b13-item">
				<figure class="b13-icon">
					<img src="../../../../assets/images/somos/b13-icon.png">
				</figure>
				<div class="b13-textup">Distinción Legal: Conformidad normativa</div>
				<div class="b13-textdown">
					<p>Es un reconocimiento por la observancia y el cumplimiento de las regulaciones y normativas legales vigentes en la práctica notarial, garantizando la seguridad jurídica.</p>
				</div>
			</div>
			<div class="b13-item">
				<figure class="b13-icon">
					<img src="../../../../assets/images/somos/b13-icon.png">
				</figure>
				<div class="b13-textup">Premio Innovación <br>Notarial</div>
				<div class="b13-textdown">
					<p>Otorgado a la notaría por su capacidad innovadora en la implementación de soluciones novedosas y eficaces en el ámbito notarial, destacando la creatividad.</p>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="b8">
	<figure class="b8-image" style="background-image: url('../../../../assets/images/somos/b8-banner.png');"></figure>
	<div class="b8-block">
		<div class="b8-content wancho">
			<div class="b8-title">Asegura tu atención notarial</div>
			<div class="b8-subtitle">¡Agenda tu cita hoy!</div>
			<div class="b8-button">
        <!-- FALTA REDIRIGIR AL COMPONENTE DE CONTACTO -->
				<a routerLink="/contacto" class="b8-btn-link">Reserva una cita <span class="b8-btn-icon icon-arrow-right"></span></a>
			</div>
		</div>
	</div>
</section>
</div>
    <!-- contenedor del menu responsive -->
    <div class="menu-sidebar" data-menu="left-in">
        <div class="menu-sidebar-cnt"></div>
    </div>
<!-- ************************************** -->

    <script src="../../../../static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../../../../static/js/validationform/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="../../../../static/js/main.js" type="text/javascript"></script>
    <!-- JSADD START -->

    <script type="text/javascript">
        $(function(){
            //+++ FOOTER RESPONSIVE - ACORDEON +++
            if($(window).innerWidth() < 1025){
                $('.footerOpenToggle').on('click', function(event){
                    console.log("footer aquiiiii");
                    if ($(this).hasClass('active')) {
                        $(this).removeClass('active').parent().find('.footer_toggle_contain').stop().slideUp();
                    }else{
                        $('.footer_title').removeClass('active');
                        $('.footer_toggle_contain').stop().slideUp();
                        $(this).addClass('active').parent().find('.footer_toggle_contain').stop().slideToggle();
                    };
                })
            }
            //<<< END >>>
        });
    </script>

<script src="../../../../static/js/slick/slick.min.js"></script>
<script src="../../../../static/js/jquery.waypoints.js"></script>
<script type="text/javascript">
    $(function(){
		$('.b10pitcherSlick').slick({
			dots: false,
			infinite: true,
			autoplay: true,
			autoplaySpeed: 500,
			speed: 1000,
			arrows: false,
			slidesToShow: 5,
			slidesToScroll: 1,
			prevArrow: '.b10-prev',
			nextArrow: '.b10-next',
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 4
					}
				},
				{
					breakpoint: 960,
					settings: {
						slidesToShow: 3
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 2
					}
				}
			]
		});


		$('.b12pitcherSlick').slick({
			dots: false,
			infinite: true,
			autoplay: false,
			speed: 800,
			arrows: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			prevArrow: '.b12-prev',
			nextArrow: '.b12-next'
		});


		$('.b11-animation').each(function(index, el) {
			$(el).waypoint(function(direction) {
				if (direction === 'down') {
					$(el).addClass('active');
				}else {
					//$(el).removeClass('active');
				}
			}, {
				offset:'95%'
			});
		});


    });
</script>


<app-footer></app-footer>

